* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
    font-size: 20px;
}

body {
    background-image: url(../images/fondo_index.jpg);
    background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

/* Estilos de la barra de navegación */
nav {
    background-color: #fe01ba;
}

nav .logo img {
    height: 50px;
    margin: 0;
    padding: 0;
    border-radius: 10px;
}

#navbarNav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
}

#navbarNav ul li {
    text-align: center;
    width: 100px;
}


#nav-quejas {
    width: 230px;
}

#nav-inicio {
    padding-left: 35px;
}

#nav-inicio, #nav-servicios, #nav-galeria, #nav-recursos, #nav-quejas {
    font-family: Poppins;
    font-size: 110%;
    font-weight: bold;
}

#nav-inicio:hover, #nav-servicios:hover, #nav-galeria:hover, #nav-recursos:hover, #nav-quejas:hover {
    color: #fefeff;
    letter-spacing: 0.5px;
    transition: color 1s ease, letter-spacing 1s ease;
}

.hbns{
    background-color: black;   
    border-radius: 10px ;
}

.hbns > a  {
    text-decoration: none;
    color: #fefeff;
    font-size: 25px;
    padding: 10px;
    transition: 1s ease;
    font-family: Poppins;
}

.hbns > a:hover {
    color: #fe01ba;
    letter-spacing: 0.5px;
}

/* Estilos para el pie de página */

footer {
    background-color: #000101;
    color: #fefeff;
    padding: 20px;
    text-align: center; 
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 75px;
}

.informacion-contacto .row {
    display: flex;
}

.informacion-contacto  p{
    padding: 0px 20px 0px 20px;
    text-align: center;
}

.informacion-contacto .row, .informacion-contacto .row p, .subicono-footer-redes {
    margin: 8px;
    justify-content: center;
}

.subicono-footer-redes {
    height: 35px;
    width: 35px;
    background-color: white;
    border-radius: 20px;
}

footer .footer-contacto, footer .footer-redes{
    width: 50%;
    padding-top: 20px;
    border: 2px solid #fefeff; 
    align-content: center;
}

.footer-redes a{
    text-decoration: none;
}