/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
    font-size: 20px;
}

body {
    background-image: url(../images/fondo_index.jpg);
    background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

/* Estilos de la barra de navegación */
nav {
    background-color: #fe01ba;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #fefeff;
}

nav .logo img {
    height: 50px;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color:  #fefeff;
    text-decoration: none;
    font-size: 25px;
    transition: 1s ease;
}

nav ul li a:hover {
    color: black;
    letter-spacing: 1px;
}

.hbns{
    background-color: black;   
    border-radius: 10px ;
}

.hbns > a  {
    text-decoration: none;
    color: #fefeff;
    font-size: 25px;
    padding: 10px;
    transition: 1s ease;
}

.hbns > a:hover {
    color: #fe01ba;
    letter-spacing: 1px;
}

/* Estilos de la sección "Acerca de nosotros" */
.acerca-nosotros {
    display: flex;
    align-items: center;
    padding: 50px;
    border-bottom: 2px solid #000101; 
}

.acerca-nosotros .texto {
    flex: 1;
    padding-right: 50px;
}

.acerca-nosotros .text h2 {
    color: #000101;
}

.acerca-nosotros .image {
    flex: 1;
    
}

.acerca-nosotros .image img {
    width: 100%;
    height: auto;
    border: 2px solid black; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Estilos para la sección Misión y Visión */
.mision-vision {
    display: flex;
    padding: 50px;
    margin: 50px;
}

.mision, .vision {
    flex: 1;
    text-align: center;
    margin: 25px;
    border: 2px solid rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.mision p, .vision p{
    text-align: justify;
    padding: 20px;
}

.mision h2, .vision h2{
    padding-top: 10px;
}


/* Estilos para la sección de Imagen Estática */
.imagen-estatica {
        background-image:url(../images/hbn_static.jpg);
        padding:100px;
        height: 300px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid black; 
        border-radius: 10px; 
}


/* Estilos para la sección de Contacto */
.contacto {
    display: flex;
    justify-content: center;
    margin: 100px;
}

.contacto-inicio, .mapa{
    width: 30%;
    border: 2px solid black; 
}

.icono1 {
    height: 90px;
    width: 90px;
    
}

#icono-fila1, #icono-fila2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px;
}

#icono-fila1 > div, #icono-fila2 > div{
    display: flex;
    flex-direction: column;
    margin-left: 40px ;
    margin-right: 40px;
    text-align: center;
    width: 50%;

}

/* Subiconos para seccion de contacto*/

.subicono1 {
    height: 35px;
    width: 35px;
}

#subicono-fila1, #subicono-fila2{
    display: flex;
    justify-content: center;
    align-items: center;

}

#subicono-fila1 > div, #subicono-fila2 > div{
    display: flex;
    flex-direction: column;
    margin: 5px;
}



/* Estilos para el pie de página */
footer {
    background-color: #000101;
    color: #fefeff;
    padding: 20px;
    text-align: center;
}
