.dentro-cuadro { 
    border: 2px solid black; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 50%;
}

.abreviatura textarea, .descripcion textarea {
    width: 300px;
    margin-bottom: 10px;
}

.boton-menos {
    margin-left: 50px;
    height: 30px;
    width: 30px;
}

.contenedor-horario p {
    margin: 10px;
}
