.asignacion-rol { 
    border: 2px solid black; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.abreviatura textarea, .descripcion textarea {
    width: 300px;
    margin-bottom: 10px;
}

.botones button {
    margin: 10px;
    width: 120px;
    text-align: center;
}

.tabla-asignaciones {
    overflow-y: auto;
    max-height: 300px;
    width: 500px;
}

.tabla-asignaciones table {
    margin: 0;
    padding: 0;
}

/* Diseños para la parte de la tabla */

.tabla-asignaciones {
    border: 2px solid black; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}


.tabla-asignaciones {
    height: 100%;
    display: block;
    overflow-x: auto;
    max-height: 600px
}

.tabla-asignaciones {
    margin-top: 20px;
    overflow-x: auto;
}

.tabla-asignaciones table {
    width: 100%;
    margin: 0;
    padding: 0;
}

.tabla-asignaciones th, .tabla-asignaciones td {
    padding: 10px 15px;
    background: #f9f9f9;
    border: 1px solid #ddd;
}

.tabla-asignaciones table thead th {
    background: lightgray;
    font-weight: bold;
    text-align: center;
    
}

#tabla-cuerpo tr:hover td {
    background-color: #f5f5f5;
    cursor: pointer;
}

.tabla-asignaciones input[type="text"] {
    width: 100%;
}

.tabla-asignaciones::-webkit-scrollbar {
    display: none;
}