.asignacion-rol { 
    border: 2px solid black; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.abreviatura textarea, .descripcion textarea {
    width: 300px;
    margin-bottom: 10px;
}

.botones button {
    margin: 10px;
    width: 120px;
    text-align: center;
}

#roles-container {
    height: 250px;
    width: 100%;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: lightgray;
    border-radius: 10px;
}

#roles label{
    white-space: nowrap; 
    margin: 10px;
}

.container-asignaciones {
    max-width: 600px;
    
}

/* Diseños para la parte de los checks */

.container-asignaciones {
    border: 2px solid black; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}


.container-asignaciones {
    height: 100%;
    display: block;
    overflow-x: auto;
    max-height: 600px
}

.container-asignaciones {
    margin-top: 20px;
    overflow-x: auto;
}

