.contenedor-funciones img {
    height: 100px;
    
}

.contenedor-funciones button {
    font-size: 30px;
}

.contenedor-funciones .row {
    margin-bottom: 30px;
}

.imagen-funcion {
    margin-right: 10px;
}

.texto-funcion button {
    text-decoration: none;
    color: #007bff; 
    transition: color 0.3s, text-shadow 0.3s; 
    text-align: start;
}

.texto-funcion button:hover {
    color: #0056b3; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.texto-funcion button:focus {
    outline: none; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
}

/* Estilos responsivos */
@media (max-width: 575.98px) {
    .texto-funcion {
      justify-content: center;
    }
}
