.contenedor-funciones img {
    height: 100px;
    
}

.contenedor-funciones a {
    font-size: 30px;
}

.contenedor-funciones .row {
    margin-bottom: 30px;
}

.imagen-funcion {
    margin-right: 10px;
}
