.cabecera-compra, .detalle-compra, .tabla-detalle { 
    border: 2px solid black; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.idcompra textarea {
    width: 200px;
    margin: 0px 0px 10px 20px;
}

.tabla-clase {
    overflow-y: auto;
    max-height: 300px;
    width: 500px;
}

.tabla-clase table {
    margin: 0;
    padding: 0;
}

.botones-clase button {
    margin: 10px;
    width: 120px;
    text-align: center;
}

/* Diseños para la parte de la tabla de articulos */

.tabla-detalle {
    height: 400px;
    display: block;
    overflow-x: auto;
}

.tabla-detalle {
    margin-top: 20px;
    overflow-x: auto;
}

.tabla-detalle table {
    width: 100%;
    margin: 0;
    padding: 0;
}

.tabla-detalle th, .tabla-detalle td {
    padding: 10px 15px;
    background: #f9f9f9;
    border: 1px solid #ddd;
}

.tabla-detalle table thead th {
    background: lightgray;
    font-weight: bold;
    text-align: center;
    
}

#tabla-cuerpo tr:hover td {
    background-color: #f5f5f5;
    cursor: pointer;
}

.tabla-detalle::-webkit-scrollbar {
    display: none;
}