.creacion-horario { 
    border: 2px solid black; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.botones-horario button {
    margin: 10px;
    width: 120px;
    text-align: center;
}


.tabla-horarios {
    overflow-y: auto;
    max-height: 300px;
    width: 500px;
}

.tabla-horarios table {
    margin: 0;
    padding: 0;
}