.creacion-horario { 
    border: 2px solid black; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.botones-horario button {
    margin: 10px;
    width: 120px;
    text-align: center;
}

.creacion-horario div input{
    width: 11em;
    text-align: center;
}

.tabla-horarios {
    overflow-y: auto;
    max-height: 300px;
    width: 500px;
}

.tabla-horarios table {
    margin: 0;
    padding: 0;
}

.tabla-horarios {
    border: 2px solid black; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    max-height: 400px;
}

.tabla-horarios {
    margin-top: 20px;
    overflow-x: auto;
}

.tabla-horarios table {
    width: 100%;
    margin: 0;
    padding: 0;
}

.tabla-horarios th, .tabla-horarios td {
    padding: 10px 15px;
    background: #f9f9f9;
    border: 1px solid #ddd;
}

.tabla-horarios table thead th {
    background: lightgray;
    font-weight: bold;
    text-align: center;
    
}

#tabla-cuerpo tr:hover td {
    background-color: #f5f5f5;
    cursor: pointer;
}

.tabla-detalle::-webkit-scrollbar {
    display: none;
}